{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Site</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="not-home-page">

  {% include 'navigation.html' %}

  {% block main %}

  {% if '/product_detials/' in request.path %}
    {% include 'Product/product_details.html' %}
  {% endif %}

  {% if '/product_category/' in request.path %}
    {% include 'Product/product_category.html' %}
  {% endif %}
  
  {% endblock %}

  {% include 'footer.html' %}

</body>
<script src="{% static './js/coustom.js' %}"></script>

</html>