{% load static %}
<div class="about">
  <div class="header-jumbo">
    <img src="{% static 'assets/about_3.jpg' %}"  class="img-responsive header-jumbo__height-fixed" alt="">
    <h1>About Us</h1>
  </div>

  <div class="content">

    <section class="content-section">
      <div class="header header--secondry">
        <h1>Just a text</h1>
      </div>
      <p class="text wrapper">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur unde laborum repudiandae magni soluta esse at. Illo illum repudiandae minima quam qui animi quos quisquam, quasi vel laborum doloremque nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, soluta ducimus vel quasi commodi sed, necessitatibus deserunt, quidem dolor perspiciatis expedita rem minima doloremque dolorum vitae omnis id! Et, tempora.</p>
    </section>

    <section class="content-section">
      <div class="header header--secondry">
        <h1>Just a text</h1>
      </div>
      <p class="text wrapper">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur unde laborum repudiandae magni soluta esse at. Illo illum repudiandae minima quam qui animi quos quisquam, quasi vel laborum doloremque nisi.</p>
    </section>

    <section class="content-section">
      <div class="header header--secondry">
        <h1>Just a text</h1>
      </div>
      <p class="text wrapper">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur unde laborum repudiandae magni soluta esse at. Illo illum repudiandae minima quam qui animi quos quisquam, quasi vel laborum doloremque nisi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam soluta deserunt accusamus, ducimus alias itaque nihil quaerat veniam consequatur autem ullam perspiciatis eos deleniti ipsum illo blanditiis! Fugiat, ducimus nisi.  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate rerum vitae ullam, est aut ratione ex odio eius nobis nisi. Error, exercitationem inventore totam asperiores excepturi quidem quas fugiat sit?
      </p>
    </section>

  </div>

</div>