{% load static %}
<div class="hero">
  <div class="caption">
    Renovate your Bathroom with<br>
    <span>99% Copper</span> Bathtubs.
  </div>
</div>

<div class="about">

  <div class="row">

    <div class="col-6">

      <div class="header-non-bar">
        <h1>Few Words About Us</h1>
      </div>

      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam odit obcaecati explicabo asperiores tenetur laboriosam delectus labore, consectetur pariatur sit maiores. Illo perspiciatis quam quisquam minima reprehenderit consectetur eius corrupti.
      </p>

      <div class="about__cta">
        <a href="#" class='about__cta--button'>Read More</a>
      </div>
    </div>

    <div class="col-6">

      <div class="about__image">
        <img src="{% static '/assets/about_2.jpg' %}" class='img-responsive about__image--size' alt="">
      </div>

    </div>

  </div>

</div>


<div class="galler">
  <div class="header">
    <h1>Our Gallery</h1>
  </div>
  <div class="gallery__container">
    <div class="row">

      <div class="col col-3">
        <div class="gallery__card">
          <a href="./products.html">
            <div class="gallery__card__inner">
              <img src="{% static '/assets/6.jpg' %}" alt="" class="img-responsive">
            </div>
            <div class="gallery__card__caption">
              <h3>Products 1</h3>
            </div>
          </a>
        </div>
      </div>


      <div class="col col-3">
        <div class="gallery__card">
          <a href="./products.html">
            <div class="gallery__card__inner">
              <img src="{% static '/assets/7.jpg' %}" alt="" class="img-responsive">
            </div>
            <div class="gallery__card__caption">
              <h3>Products 1</h3>
            </div>
          </a>
        </div>
      </div>


      <div class="col col-3">
        <div class="gallery__card">
          <a href="./products.html">
            <div class="gallery__card__inner">
              <img src="{% static '/assets/5.jpg' %}" alt="" class="img-responsive">
            </div>
            <div class="gallery__card__caption">
              <h3>Products 1</h3>
            </div>
          </a>
        </div>
      </div>


      <div class="col col-3">
        <div class="gallery__card">
          <a href="./products.html">
            <div class="gallery__card__inner">
              <img src="{% static '/assets/8.jpg' %}" alt="" class="img-responsive">
            </div>
            <div class="gallery__card__caption">
              <h3>Products 1</h3>
            </div>
          </a>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col col-3">
        <div class="gallery__card">
          <div class="gallery__card__inner">
            <img src="{% static '/assets/10.jpg' %}" alt="" class="img-responsive">
          </div>
          <div class="gallery__card__caption">
            <h3>Products 1</h3>
          </div>
        </div>
      </div>

      <div class="col col-3">
        <div class="gallery__card">
          <div class="gallery__card__inner">
            <img src="{% static '/assets/9.jpg' %}" alt="" class="img-responsive">
          </div>
          <div class="gallery__card__caption">
            <h3>Products 1</h3>
          </div>
        </div>
      </div>

      <div class="col col-3">
        <div class="gallery__card">
          <div class="gallery__card__inner">
            <img src="{% static '/assets/8.jpg' %}" alt="" class="img-responsive">
          </div>
          <div class="gallery__card__caption">
            <h3>Products 1</h3>
          </div>
        </div>
      </div>

      <div class="col col-3">
        <div class="gallery__card">
          <div class="gallery__card__inner">
            <img src="{% static '/assets/7.jpg' %}" alt="" class="img-responsive">
          </div>
          <div class="gallery__card__caption">
            <h3>Products 1</h3>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>