<header>

  <div class="primary-nav__logo">
    <a href="http://127.0.0.1:8000">&nbsp;</a>
  </div>

  <div class="toggle">
    <div class="toggle__bar toggle__bar--top"></div>
    <div class="toggle__bar toggle__bar--middle"></div>
    <div class="toggle__bar toggle__bar--bottom"></div>
  </div>
  <nav class="primary-nav primary-nav--float-right">
    <ul class="primary-nav__item">
      <li><a href="http://127.0.0.1:8000">Home</a></li>
      <li><a href="http://127.0.0.1:8000/products">Products</a></li>
      <li><a href="http://127.0.0.1:8000/about">About</a></li>
      <li><a href="http://127.0.0.1:8000/contact">Contact Us</a></li>
    </ul>
  </nav>
</header>